<!DOCTYPE html>
<html>
<head>
  <title>CoffeeNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="footer"> 
	<%= link_to "Home", 'home' %>
	<%= link_to "About", 'about' %>
	<%= link_to "Jobs", 'jobs' %>
</div>


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</body>
</html>
