<!DOCTYPE html>
<html>
<head>
  <title>CoffeeNow</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

<div class="footer"> 
	<%= link_to "Home", 'home' %>
	<%= link_to "About", 'about' %>
	<%= link_to "Jobs", 'jobs' %>
</div>

	
	</script>
  	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</body>
</html>
